@CHARSET "UTF-8";

.pushButton{
	background: transparent;	
}

/* STYLE HEADERPANELM*/
.mainHeaderPanelM{
	background: -moz-linear-gradient(center bottom , #1E558B, #1E558B) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1E558B),color-stop(1, #1E558B));
	border-bottom: solid 1px #000;
	color: #FFF;	
}

.mainHeaderPanelM div{
	color: #FFF;
	font-size:20px;	
	font-weight: bold;	
}

/* STYLE TOOLBAR*/
.mainToolBar{
	background: -moz-linear-gradient(center bottom , #1E558B, #1E558B) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1E558B),color-stop(1, #1E558B));
	border-bottom: solid 1px #000;
}

.mainToolBar div{
	width: 40px;
}

/* STYLE HEADERGRID*/
.mainHeaderGrid{
	position: relative;
	display: inline-block;
	border-bottom: 1px solid #000;
	background: -moz-linear-gradient(center bottom , #427BB4, #B0E1E7) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #427BB4),color-stop(1, #B0E1E7));
}

.mainHeaderGrid div{
	text-align: center;
	line-height: 32px;
	color: #FFF;
	font-weight: bold;
}

/* STYLE CONTENTFORM*/
.mainContentForm{
	margin: 10px;
	background-color: #fff;
	border-left: 1px solid #A4A4A4;
	border-right: 1px solid #A4A4A4;
	border-top: 1px solid #A4A4A4;
	color: #000;
}

.flexTableContentForm{
	width: 100%;
}

.flexTableContentForm td{
	padding-left: 10px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #A4A4A4;
}

.flexTableContentForm td table td{
	padding: 0px;
	background-color: #fff;
	color: #000 !important;
}

.widgetContentForm{
	position:relative;
	background-color: #fff;
	height: 32px;
	padding:4px;
	display: block !important;
	color: #000 !important;
	
}

.widgetContentForm input{
	border: 0px;
	padding: 0px;
	height: 20px;
	color: #000 !important;
	margin-top:4px;
	width: 100%;
}


/* STYLE UICALENDAR*/
.mainUICalendar{
	width: 100%;
	margin: 0 auto;
}

.containerUICalendar{
	width: 100%;
}

.containerUICalendar td{
	padding: 2px;
	width: 33.3%;
}

.containerUICalendar table {
	/*margin: 2px;*/
	padding: 0px;
	width: 100%;
	border: 1px solid #B6B6B7;
}

.containerUICalendar table td {
	padding: 0px;
}

.containerUICalendar .buttonUICalendar {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 45px;
	background: -moz-linear-gradient(center bottom , #1e558b, #1e558b) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1e558b),color-stop(1, #1e558b));	
	border: 0px;
	border-radius: 0px;
	font-size: 20px;
	line-height: 45px;
	background-color:#1e558b;
}

.containerUICalendar div {
	width: 100%;
	height: 30px;
	background-color: #FFF;
	color: #000;
	font-size: 16px;
	text-align: center;
	line-height:30px;
}

/* STYLE TEXTBOX CALENDAR */



.flexTableTextBoxCalendar td{
	border: 0px !important;
}

.dialogCalendarTextBoxCalendar {
	overflow: hidden;
	background-color: #FFF;
	border: 0px;
}

.dialogCalendarTextBoxCalendar {
	overflow: hidden;
	border: 1px solid #848484;
	border-radius: 10px;
	background: -moz-linear-gradient(center bottom , #FFF, #FFF) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #FFF),color-stop(1, #FFF));
}

.textBoxFechaTextBoxCalendar{
	padding: 0px;
	margin: 0px;
	border: 0px;
	font: 17px Helvetica;
}
